.slider {
    position: fixed;
    width: 100%;
    height: 56px;
    bottom: 1px;
    left: 0;
    overflow: hidden;
    background-color: rgba(202, 81, 0, 0.924);
    color: #FFF;
    transition: all 3s;
    z-index: 39998 !important;
}

  .slider h3 {
      font-size: 16px;
      padding: 0px;
      margin: 0px;
  }

  .slider p {
      font-size: 12px;
      padding: 0px;
      margin: 0px;
  }

  .slider.close {
    height: 0;
  }

  .slider.complete {
    background-color: rgb(13, 133, 33) !important; color: #FFF;
  }

  table.toaster {
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: #FFF;
  }

  table.toaster, td, th {
      border: 0px solid black;
      border-collapse: collapse;
  }

  table.toaster .content {
      width: 80%;
      text-align: center;
  }

  table.toaster .left .right {
      width: 10%;
      text-align: center;
  }